html, body { height: 100%; }

#wrap { margin: 0 auto; width: 100%; min-height: calc(100% - 101px); }

h2 { font-size: 2em; text-align: center; }

footer {
  /*position: absolute;
  bottom: 0px;*/

  background-color: yellow; 
  text-align: center; 
  border-top: 1px solid grey;
}