html, body { height: 100%; background-color: antiquewhite; }
body::-webkit-scrollbar { display: none; }

.navbar-brand a { font-size: 1.2em; }
.navbar-user { width: 30px; }

#wrap { margin: 0 auto; width: 100%; min-height: calc(100% - 89px); }

footer { background-color: yellow; text-align: center; border-top: 1px solid grey; }